.palette-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__selector {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    height: 62px;

    &--circleinactived {
      width: 48px;
      height: 48px;
      border-radius: 32px;
      border: 3px solid #ffffff;
    }
    &--circleactived {
      width: 56px;
      height: 56px;
      border-radius: 36px;
      border: 3px solid #ffffff;
    }
  }
}

.compact-box {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.generator-box {
  margin-left: 16px;

  &__title {
    font-size: 16px;
    color: #ffffff;
  }

  &__tools {
    display: flex;
    gap: 16px;

    &--input {
      background-color: transparent;
      border: 4px solid white;
      border-radius: 8px;
      color: #ffffff;
      padding: 8px;
      width: 65%;
    }
    &--input:invalid:required {
      border: 4px solid red;
    }
    &--add {
      background-color: #ffffff;
      padding: 8px 28px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.palettelist-box {
  margin-left: 16px;

  &__title {
    margin: 0;
    padding-top: 32px;
    color: #ffffff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px -12px 4px;

    &--title {
      color: #ffffff;
    }

    &--trash {
      width: 24px;
      height: 24px;
      margin-right: 24px;
      filter: brightness(0) invert(1);
      cursor: pointer;
    }
  }

  &__inventory {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    background: #151515;
    padding: 12px;
    border-radius: 8px;

    &--circleinactived {
      width: 48px;
      height: 48px;
      border-radius: 32px;
      border: 3px solid #ffffff;
    }
  }
}

@media (min-width: 1920px) {
  .palette-box {
    &__selector {
      justify-content: center;
      gap: 32px;
      margin-top: 64px;

      &--circleinactived {
        width: 64px;
        height: 64px;
        border-radius: 36px;
      }

      &--circleactived {
        width: 72px;
        height: 72px;
        border-radius: 40px;
      }
    }
  }

  .compact-box {
    margin: 0px 54px;
  }

  .compact-box__desktop {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }

  .generator-box__tools {
    width: 125%;
  }

  .palettelist-box {
    margin-left: 384px;
    &__title {
      padding-top: 64px;
      margin-left: 148px;
    }
  }

  .palettelist-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
}
